<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <style>
        /* Custom styles */
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .form-control {
            max-width: 600px;
            margin: 0 auto;
        }

        .shortened-urls {
            max-width: 600px;
            margin: 0 auto;
        }

        .shortened-urls li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 10px;
        }

        .container {
            margin-top: 50px;
            margin-bottom: 100px; /* Increased bottom margin for footer visibility */
        }

        /* Updated footer styles for better spacing and alignment */
        footer {
            margin-top: 50px;
            padding: 20px 0;
            background-color: #333;
            color: #fff;
        }

        footer .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
        }

        footer .grid {
            flex: 1;
        }

        footer h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        footer p {
            font-size: 0.875rem;
            color: #ccc;
            line-height: 1.5;
        }

        footer ul {
            list-style-type: none;
            padding: 0;
        }

        footer ul li {
            margin-bottom: 5px;
        }

        footer .flex {
            gap: 10px;
        }

        footer a {
            color: #ccc;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        footer a:hover {
            color: #fff;
        }

        footer .fab {
            font-size: 1.25rem;
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .container {
                padding: 0 10px;
            }

            .shortened-urls {
                padding: 0;
            }

            footer {
                padding: 20px 10px;
            }

            footer .container {
                flex-direction: column;
                gap: 10px;
            }
        }
    </style>
</head>

<body class="bg-gray-100">
    <!-- Navigation -->
    <header class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-white/80 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg">
        <div class="px-4">
            <div class="flex items-center justify-between">
                <div class="flex-shrink-0">
                    <a aria-current="page" class="flex items-center" href="/">
                        <img class="h-7 w-auto" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="">
                        
                    </a>
                </div>
                <div class="hidden md:flex md:items-center md:justify-center md:gap-5">
                    <a aria-current="page" class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900" href="#">How it works</a>
                    <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900" href="#">Get in touch</a>
                </div>
                <div class="flex items-center justify-end gap-3">
                    <a class="hidden items-center justify-center rounded-xl bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 transition-all duration-150 hover:bg-gray-50 sm:inline-flex" href="/">Home</a>
                    <a class="hidden items-center justify-center rounded-xl bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 transition-all duration-150 hover:bg-gray-50 sm:inline-flex" href="/signup">Sign up</a>
                    <a class="inline-flex items-center justify-center rounded-xl bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-all duration-150 hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" href="/login">Login</a>
                    <a class="inline-flex items-center justify-center rounded-xl bg-pink-600 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-all duration-150 hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1 class="mt-5 mb-4 text-center text-3xl font-bold text-gray-900">URL Shortener</h1>
        <form action="/url" method="POST" class="text-center">
            <div class="input-group mb-3">
                <input type="url" class="form-control bg-white border border-gray-300 rounded-md py-2 px-4 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" placeholder="Enter URL" name="url" required>
                <button class="btn btn-primary bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md shadow-sm transition duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50" type="submit">Shorten URL</button>
            </div>
        </form>
        <h3 class="text-center mt-8 mb-4 text-xl font-bold text-gray-900">Shortened URLs:</h3>
        <ul class="list-group shortened-urls mb-8">
            <% url.sort().reverse().forEach(function(url) { %>
            <li class="list-group-item flex justify-between items-center bg-white rounded-md shadow-sm py-3 px-4 mb-4">
                <a target="_blank" href="http://localhost:8001/<%= url.shortId %>" class="text-blue-600 hover:underline truncate w-3/5" title="http://localhost:8001/<%= url.shortId %>">http://localhost:8001/<%= url.shortId %></a>
                <p><%= new Date(url.createdAt).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></p>
                <span class="badge bg-secondary text-gray-800">Clicks: <%= url.visitHistory.length %></span>
                <button class="copy-btn bg-blue-500 hover:bg-blue-700 text-white px-3 py-1 rounded focus:outline-none" data-url="http://localhost:8001/<%= url.shortId %>">Copy</button>
            </li>
            <% }); %>
        </ul>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-900 text-white py-6">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <div>
                    <h3 class="text-lg font-bold mb-2">Company Name</h3>
                    <p class="text-sm text-gray-400">Shorten URLs easily and efficiently with our service. Simplify your links and enhance sharing.</p>
                </div>
                <div>
                    <h3 class="text-lg font-bold mb-2">Contact Us</h3>
                    <ul class="text-sm">
                        <li class="mb-2"><a href="#" class="text-gray-400 hover:text-white">Phone: +91-79787-66971</a></li>
                        <li class="mb-2"><a href="mailto:info@lorem.mail" class="text-gray-400 hover:text-white">Email: info@lorem.mail</a></li>
                        <li><a href="#" class="text-gray-400 hover:text-white">Address: 312 Lovely Street, NY</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-bold mb-2">IMFO</h3>
                    <div class="flex space-x-3">
                        <span class="text-gray-600">   URLs created on this platform are subject to automatic deletion after 30 days for security and privacy reasons. Please ensure you have saved or shared your shortened URLs before they expire.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- JavaScript for copying shortened URLs -->
    <script>
        document.addEventListener('click', function (event) {
            if (event.target && event.target.classList.contains('copy-btn')) {
                const url = event.target.getAttribute('data-url');
                copyToClipboard(url);
                alert('Copied to clipboard!');
            }
        });

        function copyToClipboard(text) {
            const input = document.createElement('textarea');
            input.value = text;
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
            document.body.removeChild(input);
        }
    </script>
</body>

</html>
